@config "tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bgPrimary: rgb(225, 225, 225);
    --color-bgSecondary: rgb(255, 255, 255);
    --color-bgInverted: rgb(16, 16, 16);
    --color-text: rgb(0, 0, 0);
    --color-textMuted: rgb(100, 100, 100);
    --color-textInverted: rgb(255, 255, 255);
  }
  :root[data-theme="dark"] {
    --color-bgPrimary: rgb(16, 16, 16);
    --color-bgSecondary: rgb(40, 40, 40);
    --color-bgInverted: rgb(225, 225, 225);
    --color-text: rgb(255, 255, 255);
    --color-textMuted: rgb(200, 200, 200);
    --color-textInverted: rgb(16, 16, 16);
  }
}

.loader {
  border-top-color: #3498db; /* Spinner color */
  -webkit-animation: spinner 1.5s linear infinite; /* Safari */
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  } /* Safari */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
